.filters {position:relative;background-color:#FFF;height:70px;width:100%;border:1px #DDD solid;border-radius:4px;}
.filters .search_btn {position:absolute;font-size:18px;border:none;background-color:#FFF;color:#000;border:4px #FF5A5F solid;height:48px;width:20%;border-radius:4px;float:right;right:30px}
.filters .search_btn:hover {opacity:0.9;color:#FF5A5F;border-color: #000;}
.filters .locations {height:100%;width:25%;border-right:1px #DDD solid;float:left;line-height:0.3;padding-left:40px;}
.filters .amenities {height:100%;width:25%;float:left;line-height:0.3;padding-left:40px;}
.filters .popover {display:none;background-color:#FFF;width:100%;border:1px #DDD solid;margin-left:-41px;margin-top:26px;padding-top:20px;position:relative;z-index:2;}
.filters .locations:hover .popover, .amenities:hover .popover {display:block;}
.filters li {list-style:none;margin-left:-20px;}
.filters .sub_menu {line-height:1.3;margin-top:5px;margin-bottom:30px;}
.filters h2 {font-size:16px;}
.filters h3 {font-weight:600;}
.filters h4 {font-weight:400;font-size:14px;}
@media all and (max-width: 480px) {
    .filters {border:none;height:auto;margin:unset !important;}
    .filters .locations, .filters .amenities {position:unset;padding:0;height:60%;width:49%;border:1px #DDD solid;text-align:center;}
    .filters .popover {position:absolute;width:37%;padding-top:20px;margin-top:0;margin-left:0;}
    .filters li {margin-left:-40px;}
    .filters .sub_menu {margin-bottom:30px;}
    .filters .search_btn {position:relative;width:100px;margin-top:50px;height:50px;width:100%;border-radius:0;float:none;right:0;}
    input#toggle:checked ~ .locations {display:block;}
}
@media all and (max-width: 1024px) {
    .filters {margin:0 20px;width:unset;}
}
