.filters {background-color:#FFF;height:70px;width:100%;border:1px #DDD;border-radius:4px;}
.filters .search_btn {font-size:18px;background-color:#FF5A5F;color:#FFF;height:48px;width:20%;border-radius:4px;float:right;right:30px}
.filters .button:hover {opacity:0.9;}
